<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^public/ - [L]
RewriteCond public/$0 -F
RewriteRule .* public/$0 [L]
RewriteRule   ^/$  /e/www/  [R]
DirectoryIndex public/index.php
RewriteCond %{REQUEST_URI} !/(assets|index\.php) [NC]
RewriteRule ^/?$ index.php?p=index [L,QSA]
</IfModule>